// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=3410u0kqjgnguqHlpltuPbDEb7d */

// Feel free to copy&paste color codes to your application */

// As hex codes */

$color-primary-0: #1d1b5b; // Main Primary color */
$color-primary-1: #565394;
$color-primary-2: #363377;
$color-primary-3: #0d0b41;
$color-primary-4: #050428;

$color-secondary-1-0: #827a17; // Main Secondary color (1) */
$color-secondary-1-1: #d5cc67;
$color-secondary-1-2: #aba239;
$color-secondary-1-3: #5d5603;
$color-secondary-1-4: #393500;

$color-secondary-2-0: #825617; // Main Secondary color (2) */
$color-secondary-2-1: #d5a767;
$color-secondary-2-2: #ab7c39;
$color-secondary-2-3: #5d3803;
$color-secondary-2-4: #392200;

// As RGBa codes */

$rgba-primary-0: rgba(29, 27, 91, 1); // Main Primary color */
$rgba-primary-1: rgba(86, 83, 148, 1);
$rgba-primary-2: rgba(54, 51, 119, 1);
$rgba-primary-3: rgba(13, 11, 65, 1);
$rgba-primary-4: rgba(5, 4, 40, 1);

$rgba-secondary-1-0: rgba(130, 122, 23, 1); // Main Secondary color (1) */
$rgba-secondary-1-1: rgba(213, 204, 103, 1);
$rgba-secondary-1-2: rgba(171, 162, 57, 1);
$rgba-secondary-1-3: rgba(93, 86, 3, 1);
$rgba-secondary-1-4: rgba(57, 53, 0, 1);

$rgba-secondary-2-0: rgba(130, 86, 23, 1); // Main Secondary color (2) */
$rgba-secondary-2-1: rgba(213, 167, 103, 1);
$rgba-secondary-2-2: rgba(171, 124, 57, 1);
$rgba-secondary-2-3: rgba(93, 56, 3, 1);
$rgba-secondary-2-4: rgba(57, 34, 0, 1);
