// Body
$body-bg: #050428;
$secondary: #d5cc67;
$primary: #363377;

// Typography
$font-family-sans-serif: 'Rubik', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$navbar-light-color: #1d1b5b;
$headings-color: #d5a767;
$link-color: #827a17;
$dropdown-bg: $secondary;
$card-cap-bg: #1d1b5b;
